@{
    ViewBag.Title = "Home Page";
    string status = ViewBag.status;
}
@if (status.Equals("Running"))
{
    <h3> service Controller</h3>
    <p>The service is : @ViewBag.status</p>
    <form method="post" action="@Url.Action("StartService","Home")">
        <input type="submit" id="startbtn" value="start" disabled />
    </form>
    <form method="post" action="@Url.Action("StopService","Home")">
        <input type="submit" id="stopbtn" value="stop"  />
    </form>
}
else
{
    <h3> service Controller</h3>
    <p>The service is : @ViewBag.status</p>
    <form method="post" action="@Url.Action("StartService","Home")">
        <input type="submit" id="startbtn" value="start"  />
    </form>
    <form method="post" action="@Url.Action("StopService","Home")">
        <input type="submit" id="stopbtn" value="stop" disabled />
    </form>
}

